<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lee1314.peopledaily.dao.PeopleDailyMapper">
	<resultMap id="BaseResultMap" type="com.lee1314.peopledaily.model.PeopleDaily">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="audio_play_time" property="audioPlayTime"
			jdbcType="VARCHAR" />
		<result column="audio_url" property="audioUrl" jdbcType="VARCHAR" />
		<result column="comment_count" property="commentCount"
			jdbcType="INTEGER" />
		<result column="date_time" property="dateTime" jdbcType="TIMESTAMP" />
		<result column="share_url" property="shareUrl" jdbcType="VARCHAR" />
		<result column="seminar_id" property="seminarId" jdbcType="INTEGER" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.lee1314.peopledaily.model.PeopleDaily"
		extends="BaseResultMap">
		<result column="content" property="content" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, title, audio_play_time, audio_url, comment_count, date_time, share_url, seminar_id
	</sql>
	<sql id="Blob_Column_List">
		content
	</sql>
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from people_daily
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		people_daily
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.lee1314.peopledaily.model.PeopleDaily">
		insert into people_daily (id,
		title, audio_play_time,
		audio_url, comment_count, date_time,
		share_url, content, seminar_id)
		values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
		#{audioPlayTime,jdbcType=VARCHAR},
		#{audioUrl,jdbcType=VARCHAR},
		#{commentCount,jdbcType=INTEGER}, #{dateTime,jdbcType=TIMESTAMP},
		#{shareUrl,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}), #{seminarId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.lee1314.peopledaily.model.PeopleDaily">
		insert into people_daily
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="audioPlayTime != null">
				audio_play_time,
			</if>
			<if test="audioUrl != null">
				audio_url,
			</if>
			<if test="commentCount != null">
				comment_count,
			</if>
			<if test="dateTime != null">
				date_time,
			</if>
			<if test="shareUrl != null">
				share_url,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="seminarId != null">
				seminar_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="audioPlayTime != null">
				#{audioPlayTime,jdbcType=VARCHAR},
			</if>
			<if test="audioUrl != null">
				#{audioUrl,jdbcType=VARCHAR},
			</if>
			<if test="commentCount != null">
				#{commentCount,jdbcType=INTEGER},
			</if>
			<if test="dateTime != null">
				#{dateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="shareUrl != null">
				#{shareUrl,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=LONGVARCHAR},
			</if>
			<if test="seminarId != null">
				#{seminarId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lee1314.peopledaily.model.PeopleDaily">
		update people_daily
		<set>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="audioPlayTime != null">
				audio_play_time = #{audioPlayTime,jdbcType=VARCHAR},
			</if>
			<if test="audioUrl != null">
				audio_url = #{audioUrl,jdbcType=VARCHAR},
			</if>
			<if test="commentCount != null">
				comment_count = #{commentCount,jdbcType=INTEGER},
			</if>
			<if test="dateTime != null">
				date_time = #{dateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="shareUrl != null">
				share_url = #{shareUrl,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=LONGVARCHAR},
			</if>
			<if test="seminarId != null">
				seminar_id = #{seminarId,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lee1314.peopledaily.model.PeopleDaily">
		update
		people_daily
		set title = #{title,jdbcType=VARCHAR},
		audio_play_time =
		#{audioPlayTime,jdbcType=VARCHAR},
		audio_url =
		#{audioUrl,jdbcType=VARCHAR},
		comment_count =
		#{commentCount,jdbcType=INTEGER},
		date_time =
		#{dateTime,jdbcType=TIMESTAMP},
		share_url =
		#{shareUrl,jdbcType=VARCHAR},
		content = #{content,jdbcType=LONGVARCHAR},
		seminar_id = #{seminarId,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lee1314.peopledaily.model.PeopleDaily">
		update
		people_daily
		set title = #{title,jdbcType=VARCHAR},
		audio_play_time =
		#{audioPlayTime,jdbcType=VARCHAR},
		audio_url =
		#{audioUrl,jdbcType=VARCHAR},
		comment_count =
		#{commentCount,jdbcType=INTEGER},
		date_time =
		#{dateTime,jdbcType=TIMESTAMP},
		share_url =
		#{shareUrl,jdbcType=VARCHAR},
		seminar_id =
		#{seminarId,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<insert id="batchInsert">
		INSERT INTO people_daily (id, title, audio_play_time, audio_url,
		comment_count, date_time, share_url, content, seminar_id) VALUES
		<foreach collection="maps" item="map" separator=","> ( #{map.id},
			#{map.title}, #{map.audio_play_time}, #{map.audio_url},
			#{map.comment_count},
			#{map.news_timestamp,typeHandler=com.lee1314.peopledaily.commons.handler.DateTypeHandler},
			#{map.share_url}, #{map.content}, #{map.seminarId} )
		</foreach>
	</insert>
	<select id="selectAllIds" resultType="java.lang.Integer">
		SELECT id FROM people_daily where seminar_id = #{code}
	</select>
	<insert id="insertByMap" parameterType="java.util.Map">
		INSERT INTO
		people_daily (id, title, audio_play_time, audio_url,comment_count,
		date_time, share_url, content, seminar_id) VALUES
		( #{id}, #{title},
		#{audio_play_time}, #{audio_url},
		#{comment_count},
		#{news_timestamp,typeHandler=com.lee1314.peopledaily.commons.handler.DateTypeHandler},
		#{share_url}, #{content}, #{seminarId})
	</insert>
</mapper>